{% load i18n %}

{% if is_favorite %}
    <c-no-border-button 
        hx-get="{% url 'toggle-favorite' id %}"
        hx-swap="outerHTML transition:true"
        hx-target="this"
        hx-trigger="click"
        data-tooltip="{% trans 'Remove from Favorites' %}" 
    >
        <c-icons.favorite-on class="favorite is-favorite" />
    </c-no-border-button>

{% else %}
    <c-no-border-button 
        hx-get="{% url 'toggle-favorite' id %}"
        hx-swap="outerHTML transition:true"
        hx-target="this"
        hx-trigger="click"
        data-tooltip="{% trans 'Add to Favorites' %}" 
    >
        <c-icons.favorite-off class="favorite" />
    </c-no-border-button>
{% endif %}
