{% load i18n %}

<div x-data="{ isShow: false, isEditing: false, isDeleting: false }" x-intersect="isShow = true" x-intersect:leave="isShow = false">
    <article x-bind:class="isShow ? 'non-scaled-quote' : ''" class="quote scaled-quote">
       <blockquote>
        {% include 'quotes/partials/quote_show.html' with quote=quote %}
       </blockquote>
       <footer x-show="!isEditing && !isDeleting">
            {% if editable == True %}
                <c-secondary-button 
                    x-on:click="isEditing = true"
                    hx-get="{% url 'quote-partial-edit' quote.id %}"
                    hx-target="#quote-{{quote.id}}"
                    data-tooltip="{% trans 'Edit' %}" 
                >
                    {% trans "Edit" %}
                    <c-icons.edit></c-icons.edit>
                </c-secondary-button>

                <c-secondary-button 
                    x-on:click="isDeleting = true"
                    hx-get="/quotes/quote/partial/{{quote.id}}/delete"
                    hx-target="#quote-{{quote.id}}"
                    data-tooltip="{% trans 'Delete' %}" 
                >
                    {% trans "Delete" %}
                    <c-icons.delete></c-icons.delete>
                </c-secondary-button>
            {% endif %}
        </footer>
    </article>
</div>
