{% load paginator %}
{% load i18n %}

{% url view_name as base_url %}
<div id="paginated-content" class="quote-list full-height " >
    <form id="quote_list_form" action="{{base_url}}" class="full-height">
        {% for quote in paginated_results.list_items %}
            <c-quote-show :editable="{% if request.user.is_authenticated and quote.created_by == request.user %}True{%else%}False{% endif %}" />
            {% if forloop.last %}
                <div 
                    hx-trigger="revealed"
                    hx-get="{{base_url}}?page={{ paginated_results.current_page|add:1 }}"
                    hx-swap="afterend"
                >
                 <c-icons.bars />
                </div>
            {% endif %}
        {% endfor %}
    </form>
</div>
