{% load paginator %}
{% load i18n %}
{% load util %}


{% for quote in paginated_results.list_items %}
    {% get_is_favorite quote as is_favorite %}
    <c-quote-show 
        :editable="{% if request.user.is_authenticated and quote.created_by == request.user %}True{%else%}False{% endif %}" 
        :is_favorite=is_favorite
    />
    {% if forloop.last and paginated_results.has_next == True %}
        <div 
            hx-trigger="revealed delay:.5s"
            hx-get="{{base_url}}?chunk=true&page={{current_page|add:1 }}&search={{search}}"
            hx-swap="outerHTML"
            class="bar-loader"
        >
         <c-icons.bars width="60" height="60" />
        </div>
    {% endif %}
{% endfor %}

