{% load i18n %}

<p class="pico-color-pumpkin-300">{% trans 'Are you sure?' %}</p>
<button 
    type="button" 
    id="quote-delete-confirm-{{id}}"
    class="pico-background-pink-600"
    hx-get="{% url 'quote-partial-delete' id %}?next={{next}}"
    hx-target="#main-content"
>
      <c-text-icon>
        {% trans "Delete" %}
        <c-icons.trash />
      </c-text-icon>
</button>

<c-secondary-button 
    data-tooltip="{% trans 'Cancel' %}" 
    hx-swap="innerHTML transition:true"
    hx-get="{{actions_bar_url}}?next={{next}}"
    hx-target="closest .quote-actions-bar"
>
    {% trans "Cancel" %}
    <c-icons.cancel></c-icons.cancel>
</c-secondary-button>
