{% load i18n %}
<c-button 
    hx-post="{% url 'quote-partial-edit' id %}"  
    data-tooltip="{% trans 'Save' %}" 
    hx-target="closest .quote"
    hx-swap="outerHTML transition:true"
>
   {% trans "Save" %}
   <c-icons.save></c-icons.save>
</c-button>

<c-secondary-button 
    hx-get="{% url 'quote-partial-show' id %}"
    hx-target="closest .quote"
    hx-swap="outerHTML transition:true"
    data-tooltip="{% trans 'Cancel' %}" 
>
    {% trans 'Cancel' %}
    <c-icons.cancel></c-icons.cancel>
</c-secondary-button>
