{% load i18n %}
{% load static %}
{% load django_svelte %}
{% load util %}


<link rel="stylesheet" href="{% static 'quotes/navbar.css' %}">


{% block svelte_styles %}
  {% display_svelte_css 'ThemeToggle' %}
  {% display_svelte_css 'LanguageToggle' %}
{% endblock %}


{% with request.resolver_match.url_name as url_name %}
<nav>
  <ul>
    <li class="dichonario-container">
      <a href="{% url 'quote-main-public' %}">
        <h3 class="dichonario-text">Dichonario</h3>
      </a>
      <c-icons.logo></c-icons.logo>
    </li>
  </ul>
  <ul>
      <li>
            {% display_svelte 'ThemeToggle' props_theme %}
      </li>
      <li>
            {% display_svelte 'LanguageToggle' props_language %}
      </li>
  </ul>
</nav>
{% endwith %}

<!--
<script>
  document.getElementById("search-link").addEventListener("click", function(e) {
    toggleModal(e);
  });
</script>
-->
