{% load i18n %}
{% load static %}
{% load django_svelte %}
{% load util %}


<link rel="stylesheet" href="{% static 'quotes/navbar.css' %}">

{% block svelte_styles %}
  {% display_svelte_css 'ThemeToggle' %}
  {% display_svelte_css 'LanguageToggle' %}
{% endblock %}


{% with request.resolver_match.url_name as url_name %}
<nav>
  <ul>
    <li class="dichonario-container">
      <h3 class="dichonario-text">Dichonario</h3>
      <img src="{% static 'quotes/images/quote.svg' %}" class="dichonario-logo" alt="Dichonario" />
    </li>
  </ul>
  <ul>
      {% comment %} {% block content %} {% endcomment %}
      <li>
            {% display_svelte 'ThemeToggle' props_theme %}
      </li>
      <li>
            {% display_svelte 'LanguageToggle' props_language %}
      </li>
      {% comment %} {% endblock %} {% endcomment %}
      {% if url_name != 'home' %}
      <li>
        <a href="{% url 'home' %}" aria-current="page">{% trans 'Home' %}</a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
        <li>
          <a href="{% url 'quote-list' %}?action=public">{% trans 'Quotes' %}</a>
        </li>
        <li>
          <a href="{% url 'exit' %}">{% trans 'Logout' %}</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'login' %}">{% trans 'Login' %}</a>
        </li>
        <li>
          <a href="{% url 'signup' %}">{% trans 'Register' %}</a>
        </li>
      {% endif %}
  </ul>
</nav>
{% endwith %}

