{% extends 'quotes/quotes_app.html' %}
{% load static %}
{% load i18n %}

{% block title %}
   {% trans 'Home' %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/home.css' %}">

    <div class='container home'>
        {% if quote %}
            <c-quote-show></c-quote-show>
        {% endif %}
        <div>
            <a href="{% url 'quote-main-public' %}">
                <button type="button">
                      <c-text-icon>
                        {% trans "Enter" %}
                        <c-icons.next class="animate-push-right" />
                      </c-text-icon>
                  </button>
            </a>
        </div>

    </div>
{% endblock %}
