{% extends 'quotes/quotes_app.html' %}
{% load static %}
{% load django_svelte %}
{% load i18n %}

{% block title %}
   {% trans 'Home' %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/home.css' %}">

    <div class='container home'>
        {% display_svelte_css "App" %}
        {% display_svelte "App" %}


        {% component "card" %}
            {% fill "content" %}
                <blockquote>
               {% comment %} {% trans '“Welcome to Dichonario, the place for gathering and sharing your favorite quotes”' %} {% endcomment %}
        {% display_svelte_css "TypeWriter" %}
        {% display_svelte "TypeWriter" %}
                  <footer>
                    <cite>- Sam</cite>
                  </footer>
                </blockquote>
            {% endfill %}
            {% fill "footer" %}
            {% endfill %}
        {% endcomponent %}
      {% comment %}
      {% if user.is_authenticated %}
         <h4>
          {{ user.username | upper}}, {% trans 'Welcome' %}
         </h4>  
      {% endif %}
      {% endcomment %}
    </div>
{% endblock %}
