{% extends 'quotes/quotes_app.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Quotes" %}
{% endblock %}

{% block content %}
    <script src="{% static 'quotes/js/utils.js' %}"></script>
    <script src="{% static 'quotes/js/quote_list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_list.css' %}">

    <div class="container">
      <div role="group">
        <button 
          hx-target="#main-content"
          hx-get="{% url 'quote-partial-mine' %}"
          class="{% if section == 'mine'%}active{%else%}secondary{% endif %}">
          {% trans 'Mine' %}
        </button>
        <button 
          hx-target="#main-content"
          hx-get="{% url 'quote-partial-public' %}"
          class="{% if section == 'public'%}active{%else%}secondary{% endif %}">
          {% trans 'Public' %}
        </button>
        <button 
          class="{% if section == 'authors'%}active{%else%}secondary{% endif %}">
          {% trans 'Authors' %}
        </button>
      </div>
    </div>

    <div class="container full-height" id="main-content" hx-swap="outerHTML">
      {% block main-content %}
      {% endblock %}
    </div>

{% endblock %}
