{% extends 'quotes/quotes_app.html' %}
{% load django_svelte %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Quotes" %}
{% endblock %}

{% comment %} {% block content %} {% endcomment %}
    <script src="{% static 'quotes/js/utils.js' %}"></script>
    <script src="{% static 'quotes/js/quote_list.js' %}"></script>


    {% block svelte_styles %}

    {% display_svelte_css component_name %}

    {% endblock %}


    {% block content %}

    {% display_svelte component_name component_props %}

    {% endblock %}


{% comment %} {% endblock %} {% endcomment %}