{% extends 'quotes/quotes_app.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Quotes" %}
{% endblock %}

{% block content %}
    <script src="{% static 'quotes/js/utils.js' %}"></script>
    <script src="{% static 'quotes/js/quote_list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_list.css' %}">
    <div class="container">
      {% component 'buttongroup' name='button_actions'  buttons=command_buttons selected=selected_command %}
        {% fill "extra" %}
        {% endfill %}
      {% endcomponent %}
    </div>

    <div class="container">
      {% url 'quote-list' as quote_list_url %}

      {% component 'quoteslist' name='quotes' list=quotes page_number=page paginator_url=quote_list_url search=search %}
        {% fill "header" %}
        <div class="grid">
          {% if search %}
            <div>
              <small>Results for: <ins>"{{search}}"</ins> <a href="javascript:clearAndSubmitForm()">Clear</a></small>
            </div>
          {% else %}
            <div></div>
          {% endif %}

          <div class="top-controls-buttons">
            <button type="button" class="outline secondary" onclick="goToUrl('{% url 'quote-new' %}')">
              {% trans "New quote" %}
            </button>
            <button type="button" class="outline secondary"  data-target="search_modal" onclick="toggleModal(event)">
              {% trans "Search" %}
            </button>
            <input type="hidden" id="search" name="search" value=""  />
          </div>

        </div>
        {% endfill %}
      {% endcomponent %}
    </div>

    <!-- Search modal -->
    <dialog id="search_modal">
      <article>
        <header>
          <button aria-label="Close" rel="prev"  data-target="search_modal" onclick="toggleModal(event)"></button>
          <p>
          </p>
        </header>
        <p>
          Drop some text to search for 
        </p>
        <input type="search" id="search_modal_field" placeholder="Search" aria-label="Search" value="{{search}}" />
        <footer>
            <button
              role="button"
              class="secondary"
              data-target="search_modal"
              onclick="toggleModal(event)"
            >
              Cancel</button
            ><button autofocus data-target="search_modal" onclick="submitForm();">
              Confirm
            </button>
        </footer>
      </article>
    </dialog>
{% endblock %}
