{% extends 'quotes/quotes_app.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Quotes" %}
{% endblock %}

{% block content %}
    <script src="{% static 'quotes/js/utils.js' %}"></script>
    <script src="{% static 'quotes/js/quote_list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_list.css' %}">

    <div class="container" x-data="{ selected: '{{section}}' }">
      <div role="group">

        <button 
          hx-target="#quotes-paginated-list"
          hx-get="{% url 'quote-main-mine' %}"
          x-on:click="selected = 'mine'"
          :class="{'active': selected === 'mine', 'secondary': selected !== 'mine'}"
          >
          {% trans 'Mine' %}
        </button>

        <button 
          x-on:click="selected = 'public'"
          :class="{'active': selected === 'public', 'secondary': selected !== 'public'}"
          hx-target="#quotes-paginated-list"
          hx-get="{% url 'quote-main-public' %}"
          >
          {% trans 'Public' %}
        </button>

        <button 
          x-on:click="selected = 'authors'"
          :class="{'active': selected === 'authors', 'secondary': selected !== 'authors'}"
          >
          {% trans 'Authors' %}
        </button>

      </div>
    </div>
    </span>

    <div class="container full-height" id="main-content" >
      {% block main-content %}
      {% endblock %}
    </div>

{% endblock %}
