{% extends 'quotes/quotes_app.html' %}
{% load i18n %}
{% load util %}
{% load static %}

{% block title %}
{% trans "Quotes" %}
{% endblock %}

{% block content %}
   {% get_text_by_section section as selected_title %}

    <div x-data="{ selected: '{{section}}', selected_title: '{{selected_title}}' }">
      <div class="row middle-xs">
        <div class="col-xs-6">
          <details class="dropdown">
            <summary role="button" x-text="selected_title">
            </summary>
            <ul @click="closeDropdown($event)">
              <li x-show="selected !== 'public'">
                <a 
                   data-discover="true" 
                   hx-target="#paginated-content"
                   hx-get="{% url 'quote-main-public' %}"
                  @click="selected = 'public';selected_title='{% get_text_by_section 'public'%}'"
                >{% trans 'Public' %}
                </a>
              </li>

              <li x-show="selected !== 'mine'">
                {% if request.user.is_authenticated %}
                  <a 
                     data-discover="true" 
                     hx-target="#paginated-content"
                     hx-get="{% url 'quote-main-mine' %}"
                     @click="selected = 'mine';selected_title='{% get_text_by_section 'mine'%}'"
                  >{% trans 'Mine' %}</a>
                {% else %}
                  <a 
                     data-discover="true" 
                     href="{% url 'login' %}?next={% url 'quote-main-mine' %}"
                  >{% trans 'Mine' %}</a>
                {% endif %}
              </li>

              {% if request.user.is_authenticated %}
              <li>
                  <a 
                     data-discover="true" 
                     href="{% url 'exit' %}"
                  >{% trans 'Logout' %}</a>
              </li>
              {% else %}
              <li>
                  <a 
                     data-discover="true" 
                     href="{% url 'login' %}"
                  >{% trans 'Login' %}</a>
              </li>
              {% endif %}
            </ul>
          </details>
        </div>

        <div class="col-xs-6 end-xs">
              {% if request.user.is_authenticated %}
                <c-secondary-button 
                  hx-get="{% url 'quote-new' %}"
                  hx-push-url="true"
                  hx-target="#main-content"
                >
                  <c-text-icon>
                    {% trans "New" %}
                    <c-icons.new  />
                  </c-text-icon>
                </c-secondary-button>
              {% else %}
                <a 
                  href="{% url 'login' %}?next={% url 'quote-new' %}"
                >
                  <c-secondary-button 
                  >
                    <c-text-icon>
                      {% trans "New" %}
                      <c-icons.new  />
                    </c-text-icon>
                  </c-secondary-button>
                </a>
              {% endif %}

                <c-secondary-button 
                  id="search-link" 
                  data-target="search-modal"
                  onclick="toggleModal(event)"
                >
                  <c-text-icon>
                    {% trans "Search" %}
                    <c-icons.search  />
                  </c-text-icon>
                </c-secondary-button>
        </div>
      </div>
      
    </div>

    <div class="full-height" id="main-content" hx-swap="innerHTML" hx-history-elt>
      {% block main-content %}
      {% endblock %}
    </div>

 <!-- Search modal -->
    <dialog id="search-modal">
      <article>
        <header>
          <button aria-label="Close" rel="prev"  data-target="search-modal" onclick="toggleModal(event)"></button>
          <p>
          </p>
        </header>
        <p>
          Drop some text to search for 
        </p>
        <input type="search" id="search_modal_field" placeholder="Search" aria-label="Search" value="{{search}}" />
        <footer>
            <button
              role="button"
              class="secondary"
              data-target="search-modal"
              onclick="toggleModal(event)"
            >
              Cancel</button
            ><button autofocus data-target="search-modal" onclick="submitForm();">
              Confirm
            </button>
        </footer>
      </article>
    </dialog>
{% endblock %}

