{% extends 'quotes/quotes_partials.html' %}
{% load static %}
{% load util %}
{% load i18n %}

{% block content %}
    <div class="quote-edit" id="quote-{{quote.id}}" hx-swap="outerHTML">
        <form method="post" action="{% url 'quote-partial-edit' quote.id %}" method="post">
           {% csrf_token %}
           <fieldset>
             <div >
                <label for="quote_id">{% trans 'Quote' %}</label>
                <div>
                  <textarea cols="50" rows="3" id="quote_id" name="quote" required>{{quote.quote}}</textarea>
                  {{ form.quote.errors }}
                </div>
             </div>
             <div >
                  <label for="id_list_author">{% trans "Author" %}</label>
                  <div>
                   {% component "datalist" name="author" initial_value=quote.author data=authors external_class=""  attrs:required=True %}
                   {% endcomponent %}
                  </div>
                  {{ form.author.errors }}
             </div>
             <div >
               <label for="is_private_id">{% trans "Private" %}</label>
               <input type="checkbox" 
                    id="is_private_id" 
                    name="is_private" 
                    {% if quote.is_private == True %}checked{% endif %}>
             </div>
           </fieldset>

            <div class="form-actions">
                <button type="button" class="outline secondary secondary-button" hx-post="{% url 'quote-partial-edit' quote.id %}"  hx-target="#quote-{{quote.id}}">
                    <c-text-icon>
                        {% trans "Save" %}
                        <c-icons.save></c-icons.save>
                    </c-text-icon>
                </button>
                <button type="button" class="outline secondary secondary-button"  hx-get="{% url 'quote-partial-show' quote.id %}"  hx-target="#quote-{{quote.id}}">
                    <c-text-icon>
                        {% trans 'Cancel' %}
                        <c-icons.cancel></c-icons.cancel>
                    </c-text-icon>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
