{% load i18n %}
{% load static %}

{% url 'quote-list' as quote_list_url %}

{# rename util into quote_helper_tags #}
{% load static %}
{% comment %} {% load util %} {% endcomment %}
{% comment %} {% load paginator %} {% endcomment %}
{% load i18n %}

<c-quotes-paginated-list 
    :list_items= list_items
    :total_count= paginator.count
    :current_page= page_number
    :num_pages= paginator.num_pages
    :search= search
    :paginator_url= paginator_url
    :attrs= attrs
    >
</c-quotes-paginated-list> 
