html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}


