.quotes-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.quotes-app .full-height,
.quotes-app .main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.quotes-app .quote img {
  border-radius: 50%;
}

.c-text-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.primary-button {
  min-width: 175px;
}

.secondary-button {
    background: transparent;
    border: 0;
}

