.quotes-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  overflow-x: hidden;
}

.quotes-app .full-height,
.quotes-app .main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.quotes-app .quote img {
  border-radius: 50%;
}

.c-text-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.primary-button {}

.secondary-button {
}

.quote-delete-section {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: 16px;

  button {
    max-width: 150px;
  }
}

.quotes-app .quote-actions-bar {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.quotes-app .pagination {
  display: flex;
  justify-content: center;
}

.quotes-app .bar-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
