.quote-list {
}

.quote-list .quote-cards .card {
  margin: 48px;
  text-align: justify;
}

.quote-list .top-controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.quote-list .grid .top-controls-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 12px;
}

.quote-list .top-controls-buttons button {
  height: 60px;
  min-width: 145px;
}

.quote-list .top-controls input[type="search"] {
  max-width: 300px;
}


.quote-list article blockquote {
  min-height: 135px;
}

.quote-list article blockquote + footer {
  display: flex;
  justify-content: flex-end;
}

.quote-list article footer a {
  margin-left: 10px;
}

.quote-list .pagination {
    display: flex;
    justify-content: center;
}

.quote-list .pagination button {
  width: 130px;
  margin-left: 10px;
}

.quote-list .pagination a {
  text-decoration-line: none;
}

.quote-list article footer button {
  width: 110px;
  margin-left: 10px;
}

