.buttongroup-component{
}

.buttongroup-component .body.align-vertical {
  display: flex;
  flex-direction: column;
}

.buttongroup-component .body.align-horizontal {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

