.quotelist-component {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.quotelist-component .quote-column {
  overflow: auto;
}

.quotelist-component .pagination-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: baseline;
  padding-top: 12px;
}

.quotelist-component .pagination-container .paginator-info {
  margin-left: 1em;
}

.quotelist-component .quote-row-distribution {
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.quotelist-component .quote-row-distribution > a {
  margin-left: 1em;
}





