{# rename util into quote_helper_tags #}
{% load static %}
{% load util %}
{% load paginator %}
{% load i18n %}
{% load django_svelte %}


<link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_list.css' %}">

<form id="quote_list_form" action="{% url 'quote-list' %}" class="quote-list">
    {% slot "header" %}
    {% endslot %}
    {% for q in page %}
        {% create_dict "{ 'text': '"|add:q.quote|add:"'}" as component_props %}
        <div>{{component_props.text}}</div>
        {% component "card" %}
            {% fill "content" %}
                <blockquote>
                <!-- “{{q.quote}}” -->
                {% display_svelte_css "main-type-writer" %}
                {% display_svelte "main-type-writer" component_props %}
                  <footer>
                    <cite>- {{q.author}}</cite>
                  </footer>
                </blockquote>
            {% endfill %}
            {% fill "footer" %}
                {% if q.created_by == request.user %}
                    {% get_current_url as current_url %}
                    {% url 'quote-edit' q.id as edit_url %}
                    {% url 'quote-delete' q.id as delete_url %}
                    <a href="{{edit_url}}?next={{current_url}}" class="">{% trans "Edit" %}</a>
                    <a href="{{delete_url}}?next={{current_url}}" class="">{% trans "Delete" %}</a>
                {% endif %}
            {% endfill %}
        {% endcomponent %}
    {% endfor %}

    <!-- pagination controls -->
    {% if total_count > 0 %}
        {% get_previous_page_link paginator_url page search as previous_page_link %}
        {% get_next_page_link paginator_url page search as next_page_link %}
        <div class="pagination">
            <button type="button" onclick="goToUrl('{{previous_page_link}}')" title="Go to previous page" class="outline secondary" {% if page.has_previous == False %}disabled{% endif %}>
                <
            </button>
            <button type="button" onclick="goToUrl('{{next_page_link}}')" title="Go to next page" class="outline secondary" {% if page.has_next == False %}disabled{% endif %}>
            >
            </button>
        </div>
    {% endif %}
</form>

