{# rename util into quote_helper_tags #}
{% load static %}
{% load util %}
{% load paginator %}
{% load i18n %}


<link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_list.css' %}">

<form id="quote_list_form" action="{% url 'quote-main-mine' %}" class="quote-list">
    {% slot "header" %}
    {% endslot %}
    {% for q in page %}
        {% comment %} {% get_type_writer_dic q.quote forloop.counter as component_props %} {% endcomment %}
        {% component "card" %}
            {% fill "content" %}
                <blockquote>
                    {% include 'quotes/partials/quote_show.html' with quote=q %}
                </blockquote>
            {% endfill %}
            {% fill "footer" %}
                {% if q.created_by == request.user %}
                    <button hx-get="{% url 'quote-partial-edit' q.id %}"
                            hx-target="#quote-{{q.id}}"
                            data-tooltip="{% trans 'Edit' %}" 
                            class="secondary">
                            {% trans 'Edit' %}
                    </button>
                    <button hx-get="/quotes/quote/partial/{{q.id}}/delete"
                            hx-target="#quote-{{q.id}}"
                            data-tooltip="{% trans 'Delete' %}" 
                            class="secondary">
                            {% trans 'Delete' %}
                    </button>
                {% endif %}
            {% endfill %}
        {% endcomponent %}
    {% endfor %}

    <!-- pagination controls -->
    {% if total_count > 0 %}
        {% get_previous_page_link paginator_url page search as previous_page_link %}
        {% get_next_page_link paginator_url page search as next_page_link %}
        <div class="pagination">
            <button type="button" onclick="goToUrl('{{previous_page_link}}')" title="{% trans 'Go to previous page' %}" class="outline secondary" {% if page.has_previous == False %}disabled{% endif %}>
                <
            </button>
            <button type="button" onclick="goToUrl('{{next_page_link}}')" title="{% trans 'Go to next page' %}" class="outline secondary" {% if page.has_next == False %}disabled{% endif %}>
            >
            </button>
        </div>
    {% endif %}
</form>

